//background
$main-bg: #00004d;
$soft-bg: #6666ff;
$light-bg: #f1f1f1;
$dark-bg: #202020;
//text
$main-color: #f7f9f9;
$light-color: #7e909a;
$dark-color: #000;
$second-dark-color: #00004d;
$second-color: #cdf5fd;
