@import "../../styles/responsive.scss";

.bigChart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include xl {
    font-size: 11px;
  }
  .chart {
    width: 100%;
    height: 300px;
  }
}
