@import "../../styles/variables.scss";
.add {
  background-color: red;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.742);
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    padding: 30px 40px;
    border-radius: 10px;
    background-color: $soft-bg;
    position: relative;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $light-bg;
      margin-bottom: 15px;
      padding-bottom: 10px;
      .close {
        cursor: pointer;
        padding: 10px;
        &:hover {
          color: red;
        }
      }
      h1 {
        font-size: 24px;
      }
    }
    form {
      display: flex;
      flex-wrap: wrap;
      max-width: 400px;
      justify-content: space-between;
      .item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
        label {
          font-size: 14px;
        }
        input {
          background-color: rgba(0, 0, 0, 0.2);
          outline: none;
          color: $main-bg;
          border: 1px solid $main-color;
          padding: 10px;
          border-radius: 3px;
        }
        *:-moz-placeholder {
          /* FF 4-18 */
          color: $light-color;
          opacity: 1;
        }
        *::-moz-placeholder {
          /* FF 19+ */
          color: $light-color;
          opacity: 1;
        }
        *:-ms-input-placeholder {
          /* IE 10+ */
          color: $light-color;
        }
        *::-ms-input-placeholder {
          /* Microsoft Edge */
          color: $light-color;
        }
        *::placeholder {
          /* modern browser */
          color: $light-color;
        }
      }
      button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        margin-top: 8px;
        outline: none;
        border-radius: 3px;
        border: 1px solid $light-bg;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: #7777f5;
        }
      }
    }
  }
}
